{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <a href="/students/create">Sign up for free!</a>
    <table width = "100%">
        <thead>
            <tr>
                <th>Student</th>
                <th>Classes per week</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
            <tr>
                <td>
                    <span style="background-image: url({{student.avatar_url}})"></span>
                    {{student.name}}</td>
                <td>{{student.class_perweek}}</td>
                <td>{{student.email}}</td>
                <td><a href="/students/{{student.id}}">See Profile</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock content %}