@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --primary-color: #6666ff
}


* {
    margin: 0;
    border: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}


html, body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}


header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
}

.links a {

    font-size: 24px;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
}

.links a + a {
    margin-left: 100px;
}

.links a:hover {
    color: #0000b3;

}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color:   #0000b3;
    position: absolute;
    left: 0px;
    bottom: -3px;
}

.links a:hover::after {
    width: 100%;
    transition: width 700ms ease-in-out;
}


/*with "active" class */

.links a.active {
    color: #0000b3;
    font-weight: bold;
}

  .links a.active:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #0000b3;
    position: absolute;
    left: 0px;
    bottom: -3px;
} 

/* CARD */

.card {
    background-color: white;
    max-width: 800px;
    min-height: 400px;
    margin: 45px auto;
    box-sizing: border-box;
    /* grid split in two */
    display: grid;
    grid-template-columns: 40% 60%;
    /* shadow */
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
    /* animation */
    animation: up 700MS ease-out ;
    

    

}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}


/* details */

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}


.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: black;

}

.details .item div:nth-child(2) {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.details .item span {
    padding: 8px 2px;
    background-color: yellow;
    border-radius: 16px;
    margin-right: 4px;
    display: inline-block;
    margin-top: 8px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.details .item div:nth-child(1) strong ,em {
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 4px;
  
    
}
/* form */

input {
    width: 100%;
    outline: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.buttom {
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 16px;
    font-weight: bold;
    width: 100%;
}

a.buttom {

    display: block;
    text-align: center;
    text-decoration: none;
    
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: rgb(255, 64, 64);
}

/* index instructors */

.table-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 24px;
}

.table-container .header a {
    padding: 8px 8px;
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    border-radius: 6px;
    margin:0;
    font-weight: bold;
    width: 150px;
    text-align: center;
    text-decoration: none;
    
}

.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 100px;
    margin: 0;
    grid-gap: 6px;
}

.table-container .header form input {
    border: 2px rgb(233, 232, 232) solid;
    border-radius: 6px;
    padding: 4px 8px;
   
}

.table-container .header form button {
    margin: 0;
    padding: 0;
    font-size: 12px;
    cursor: pointer;

}

::-webkit-input-placeholder {
    letter-spacing: 1px;
    
}

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
    
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
    
}

th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;

}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a,
.table-container > a {
    background-color: var(--primary-color);
    padding:8px 16px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    white-space: nowrap;
    
}

.table-container > a {
   margin-bottom: 16px;
   display: block;
   display: inline-block;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

tbody tr td:nth-child(2) span {
    background-color: yellow;
    border-radius: 16px;
    padding: 4px 12px;
    font-weight: bold;
}