{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <a href="/instructors/create">Sign up as instructor</a>
    <table width = "100%">
        <thead>
            <tr>
                <th>Instructor</th>
                <th>Fit area</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for instructor in instructors %}
            <tr>
                <td>
                    <span style="background-image: url({{instructor.avatar_url}})"></span>
                    {{instructor.name}}</td>
                <td><span>{{instructor.fit_area}}</span></td>
                <td><a href="/instructors/{{instructor.id}}">See Profile</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock content %}