{% extends "layout.njk" %}
{% block head %}
<title>Creat new profile</title>
{% endblock head %}
{% block content %}

<form class="card" method="POST" acition="/instructors" >
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/8325170/900x900) no-repeat center center / cover"></section>
    <section class="details">

        <h3>New Instructor</h3>

        <div class="item">
            <div>Avatar URL</div>
            <div>
                <input type="url" name="avatar_url" placeholder="http://">
            </div>
        </div>

        <div class="item">    
            <div>Full Name</div>
            <div>
                <input type="text" placeholder="Full name" name="name">
            </div>
        </div>

        <div class="item">
            <div>Date of birth</div>
            <div>
                <input type="date" name="birth">
            </div>
        </div>

        <div class="item">
            <div>Education level</div>
            <div>
                <select name="education_level">
                    <option value="secondary-school">Secondary School</option>
                    <option value="certificate">Certificate</option> 
                    <option value="diploma">Diploma</option>  
                    <option value="degree">Degree</option> 
                    <option value="master">Master</option> 
                </select>
            </div>
        </div>

        <div class="item">
            <div>Class modality</div>
            <div>
                 <input type="radio" value="Home-Study" name="class_modality" >Home Study</label>
                 <input type="radio" value="presential" name="class_modality">Presential</label>
            </div>
        </div>

        <div class="item">
                <div>Professional practice area</div>
                <div>
                <input type="text" placeholder="Separate the areas with a 
comma" name="fit_area">
                 </div>
        </div>

        <button type="submit">Salvar</button>

    </section>
</form>

{% endblock content %}