<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{instructor.avatar_url}}">
    </div>
</div>

<div class="item">
    <div>Full Name</div>
    <div>
        <input type="text" placeholder="Full name" name="name" value="{{instructor.name}}">
    </div>
</div>

<div class="item">
    <div>Date of birth</div>
    <div>
        <input type="date" name="birth" value="{{instructor.birth}}">
    </div>
</div>

<div class="item">
    <div>Education level</div>
    <div>
        <select name="education_level">

            <option value="Secondary School"
             {% if instructor.education_level == 'Secondary School' %} selected="selected" {% endif %}>Secondary School</option>

            <option value="Certificate"
            {% if instructor.education_level == 'Certificate' %} selected="selected" {% endif %}>Certificate</option>

            <option value="Diploma"
             {% if instructor.education_level == 'Diploma' %} selected="selected" {% endif %}>Diploma</option>

            <option value="Degree"
             {% if instructor.education_level == 'Degree' %} selected="selected" {% endif %}>Degree</option>

            <option value="Master"
             {% if instructor.education_level == 'Master' %} selected="selected" {% endif %}>Master</option>
        
        </select>
    </div>
</div>

<div class="item">
    <div>Class modality</div>
    <div>
        <input type="radio" value="Home-Study" name="class_modality" {% if instructor.class_modality == 'Home-Study'%} checked="checked" {% endif %}>Home Study</label>
        <input type="radio" value="presential" name="class_modality" {% if instructor.class_modality == 'presential'%} checked="checked" {% endif %}>Presential</label>
    </div>
</div>

<div class="item">
    <div>Professional practice area</div>
    <div>
        <input type="text" placeholder="Separate the areas with a comma" name="fit_area" value="{{ instructor.fit_area }}">
    </div>
</div>

<button type="submit">Save</button>